:root {
  --primary-color: #fff;
  --button-color: #753BBA; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 59.375em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.6;
  background-color: var(--primary-color);
  color: #000;
  position: relative;
  overflow-x: hidden; }

.top-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2.8rem;
  visibility: visible;
  transition: all .2s; }
  @media only screen and (max-width: 59.375em) {
    .top-nav {
      visibility: hidden; } }
  .top-nav__icon {
    height: 2.4rem;
    width: 2.4rem;
    display: block;
    padding-bottom: .5rem; }
  .top-nav__item:not(:last-child) {
    margin-right: 3rem; }

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: inherit;
  padding-bottom: .5rem;
  display: block;
  position: relative; }

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s; }

.nav__link:hover::after {
  transform: scaleX(1); }

.nav__link:active {
  transform: translateY(3px); }

.search {
  margin: 10rem auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100; }
  .search__button {
    border: none;
    background-color: rgba(0, 0, 0, 0.2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem; }

.bottom-nav {
  max-width: 100%;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .bottom-nav {
      max-width: 90%; } }
  .bottom-nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem; }
  .bottom-nav__icon {
    width: 4rem;
    height: 4rem;
    padding-bottom: 1rem; }

.connect {
  max-width: 90%;
  margin: 10rem auto; }
  @media only screen and (max-width: 37.5em) {
    .connect {
      margin-top: 6rem; } }
  .connect__heading {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 6rem;
    text-transform: capitalize; }
  .connect__gallery {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 75em) {
      .connect__gallery {
        flex-wrap: wrap; } }
    .connect__gallery__item {
      padding: 2rem 0;
      flex: 22.5%; }
      @media only screen and (max-width: 75em) {
        .connect__gallery__item {
          flex: 40%;
          text-align: center;
          margin-bottom: 8rem; } }
      @media only screen and (max-width: 37.5em) {
        .connect__gallery__item {
          flex: 90%;
          margin-bottom: 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .connect__gallery__item {
          height: 70%; } }
      .connect__gallery__item:not(:last-child) {
        margin-right: 3rem; }
        @media only screen and (max-width: 75em) {
          .connect__gallery__item:not(:last-child) {
            margin-right: 0rem; } }
      @media only screen and (max-width: 75em) {
        .connect__gallery__item:nth-child(odd) {
          margin-right: 5rem; } }
      @media only screen and (max-width: 37.5em) {
        .connect__gallery__item:nth-child(odd) {
          margin-right: 0; } }
    .connect__gallery__photo {
      width: 100%;
      height: 100%; }
    .connect__gallery__caption {
      font-size: 1.5rem; }

.btn {
  outline: none;
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 4rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: translateY(2px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.explore {
  margin: 15rem auto 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%; }
  @media only screen and (max-width: 75em) {
    .explore {
      margin: 10rem auto 10rem auto; } }
  .explore__heading {
    font-size: 3.5rem;
    margin-bottom: 6rem; }
  .explore__item-container {
    display: flex;
    flex-wrap: wrap; }
  .explore__item {
    font-size: 1.5rem;
    position: relative;
    flex: 30%; }
    @media only screen and (max-width: 75em) {
      .explore__item {
        font-size: 2rem;
        flex: 60%;
        margin-bottom: 4rem; } }
    .explore__item:not(:last-child) {
      margin-right: 5rem; }
      @media only screen and (max-width: 75em) {
        .explore__item:not(:last-child) {
          margin-right: 0; } }
  .explore__image {
    width: 100%; }
  .explore__caption {
    color: var(--primary-color);
    position: absolute;
    top: 30%;
    left: 48%;
    width: 15rem; }
  .explore__cta {
    background-color: transparent;
    color: var(--primary-color);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
    backface-visibility: hidden;
    transition: transform .2s; }
    .explore__cta:hover {
      background-color: var(--button-color); }
    .explore__cta:active {
      transform: translate(-50%, 1px); }

.subscribe {
  margin: 10rem 0;
  text-align: center; }
  .subscribe__heading {
    margin-bottom: 3rem; }
  .subscribe__text {
    margin-bottom: 5rem; }
  .subscribe__form {
    max-width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .subscribe__form {
        flex-direction: column; } }
    .subscribe__form__email {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      border: none;
      border-radius: 1rem;
      width: 40%;
      padding: 1rem 2rem;
      box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.12); }
      @media only screen and (max-width: 37.5em) {
        .subscribe__form__email {
          width: 100%; } }
      .subscribe__form__email:focus {
        outline-color: rgba(0, 0, 0, 0.5); }
    .subscribe__form__button {
      margin-left: 1rem;
      font-size: inherit;
      background-color: var(--button-color);
      color: var(--primary-color);
      border-radius: 1.2rem; }
      @media only screen and (max-width: 37.5em) {
        .subscribe__form__button {
          margin: 2rem 0; } }

.footer__links {
  display: flex; }
  .footer__links__item:not(:last-child) {
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__links__item:not(:last-child) {
        margin-right: 0; } }
  @media only screen and (max-width: 37.5em) {
    .footer__links__item {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 59.375em) {
    .footer__links {
      order: 1;
      margin-top: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer__links {
      flex-direction: column;
      text-align: center;
      align-items: center; } }

@media only screen and (max-width: 37.5em) {
  .footer__copyright {
    order: 1; } }

.footer__social {
  list-style: none;
  display: flex; }
  .footer__social__item:not(:last-child) {
    margin-right: 5rem; }
  .footer__social__icon {
    width: 2.5rem;
    height: 2.5rem; }

.container {
  position: relative;
  left: 0;
  transition: all .5s; }

.sidebar {
  background-color: #ccc;
  text-align: center;
  height: 100vh;
  opacity: 0;
  width: 0;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: -10%;
  transition: all .5s; }
  @media only screen and (orientation: landscape) {
    .sidebar {
      width: 100vw; } }
  .sidebar__brand {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 10rem 0 2rem 0;
    text-align: center; }
  .sidebar.active {
    left: 0;
    opacity: 1;
    width: 40vw; }
    .sidebar.active ~ .container {
      left: 40vw;
      filter: blur(2px); }

.side-nav {
  list-style: none;
  margin: 1.5rem auto;
  display: inline-block;
  text-align: center; }
  .side-nav__item {
    padding: 2rem 3rem; }
    .side-nav__item:not(:last-child) {
      border-bottom: 2px solid #c4c4c4;
      border-width: 50%; }
  .side-nav__link {
    transition: all .2s;
    backface-visibility: hidden; }
    .side-nav__link:hover, .side-nav__link:focus {
      transform: scale(1.1); }
      .side-nav__link:hover::after, .side-nav__link:focus::after {
        transform: scaleX(0); }

.nav {
  width: 3rem;
  height: 2.2rem;
  position: fixed;
  top: 3rem;
  left: 1rem;
  z-index: 20000;
  cursor: pointer;
  visibility: hidden;
  backface-visibility: hidden;
  transition: visibility .2s; }
  @media only screen and (max-width: 59.375em) {
    .nav {
      visibility: visible; } }
  .nav-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    visibility: hidden;
    transition: visibility .2s; }
    @media only screen and (max-width: 59.375em) {
      .nav-icon {
        visibility: visible; } }
    .nav-icon, .nav-icon::before, .nav-icon::after {
      width: 3rem;
      height: 2px;
      background-color: #000;
      display: inline-block; }
    .nav-icon::before, .nav-icon::after {
      content: "";
      position: absolute;
      right: 0;
      visibility: hidden;
      transition: all .2s; }
      @media only screen and (max-width: 59.375em) {
        .nav-icon::before, .nav-icon::after {
          visibility: visible; } }
    .nav-icon::before {
      top: -.8rem; }
    .nav-icon::after {
      top: .8rem; }
  .nav.active .nav-icon {
    background-color: transparent; }
  .nav.active .nav-icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav.active .nav-icon::after {
    top: 0;
    transform: rotate(-135deg); }

.header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.top-navigation {
  align-self: flex-end; }

.travel {
  padding: 4rem 2rem; }

.footer {
  font-size: 1.8rem;
  padding: 4rem 6rem;
  display: flex;
  justify-content: space-between;
  color: #4E4E4E;
  border-top: 1px solid #7C7C7C; }
  @media only screen and (max-width: 59.375em) {
    .footer {
      flex-direction: column;
      align-items: center; } }
